<mat-form-field appearance="fill">
  <mat-label>{{ title }}</mat-label>
  <ng-template>
    <mat-select [formControl]="appselect" [disabled]="disabled">
      <mat-option unselectable="on" [disabled]="true" *ngIf="showSearchField">
        <input type="text" placeholder="Search..." #input />
      </mat-option>
      <mat-option *ngFor="let option of tempOptions" [value]="option.value">{{
        option.viewValue
      }}</mat-option>
    </mat-select>
  </ng-template>
</mat-form-field>
