<mat-form-field appearance="fill">
  <mat-label>{{title}}</mat-label>
  <ng-template>
    <mat-select
      panelClass="lazyloadselector"
      (infiniteScroll)="getNextBatch()"
      [formControl]="appselect"
      [complete]="offset === tempOptions.length"
      msInfiniteScroll
      (openedChange)="openChanged($event)"
      [disabled]="disabled"
      (selectionChange)="selectionChangedTrigger($event)"
    >
      <mat-option unselectable="on" [disabled]="true" *ngIf="showSearchField">
        <input type="text" placeholder="Search..." #input />
      </mat-option>
      <mat-option *ngFor="let option of values$ | async" [value]="option.value"
        >{{option.viewValue}}</mat-option
      >
    </mat-select>
  </ng-template>
</mat-form-field>
